{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">

    <h2>Materiales</h2>

    {% if user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Almacenista" %}
    <a href="{% url 'material_create' %}">
         ➕Nuevo Material
    </a>
{% endif %}

    {% if user.is_superuser %}
    <a href="{% url 'limpiar_inventario' %}"
    class="btn btn-danger"
    onclick="return confirm('¿Está seguro de eliminar TODAS las recepciones, entregas y kardex?');">

        🗑 Reiniciar Inventario

    </a>
{% endif %}

</div>

<div class="card shadow mb-4">

    <div class="card-header bg-primary text-white">
        <i class="bi bi-search"></i>
        Filtros de consulta
    </div>

    <div class="card-body">

        <form method="get">

            <div class="row">

                <div class="col-md-5">

                    <label class="form-label">
                        Código o Nombre
                    </label>

                    <input
                        type="text"
                        name="buscar"
                        class="form-control"
                        placeholder="Ingrese código o nombre..."
                        value="{{ buscar }}"
                    >

                </div>

                <div class="col-md-3">

                    <label class="form-label">
                        Estado
                    </label>

                    <select
                        name="estado"
                        class="form-select">

                        <option value=""
                            {% if estado == "" %}selected{% endif %}>
                            Todos
                        </option>

                        <option value="1"
                            {% if estado == "1" %}selected{% endif %}>
                            Activos
                        </option>

                        <option value="0"
                            {% if estado == "0" %}selected{% endif %}>
                            Inactivos
                        </option>

                    </select>

                </div>

                <div class="col-md-2 d-grid">

                    <label class="form-label">&nbsp;</label>

                    <button
                        type="submit"
                        class="btn btn-primary">

                        <i class="bi bi-search"></i>
                        Consultar

                    </button>

                </div>

                <div class="col-md-2 d-grid">

                    <label class="form-label">&nbsp;</label>

                    <a href="{% url 'material_list' %}"
                       class="btn btn-secondary">

                        Limpiar

                    </a>

                </div>

            </div>

        </form>

    </div>

</div>

    <div class="col-md-2">

        <button class="btn btn-primary w-100">
            Buscar
        </button>

    </div>

</form>

<table class="table table-bordered table-hover">

    <thead class="table-dark">

        <tr>

            <th>Código</th>
            <th>Nombre</th>
            <th>Unidad</th>
            <th>Stock</th>
            <th width="280">Acciones</th>

        </tr>

    </thead>

    <tbody>

    {% for material in materiales %}

        <tr>

            <td>{{ material.codigo }}</td>

            <td>{{ material.nombre }}</td>

            <td>{{ material.unidad }}</td>

            <td>{{ material.stock }}</td>

            <td>

    {% if user.groups.all.0.name == "Administrador" or user.groups.all.0.name == "Almacenista" %}

        <a href="{% url 'material_update' material.id %}" class="btn btn-warning btn-sm">
            ✏️ Editar
        </a>

        <a href="{% url 'material_delete' material.id %}"
           class="btn btn-danger btn-sm"
           onclick="return confirm('¿Desea eliminar este material?');">
            🗑️ Eliminar
        </a>

    {% endif %}

    <a href="{% url 'material_kardex' material.id %}"
       class="btn btn-info btn-sm">
        📋 Kardex
    </a>


        </tr>

    {% empty %}

        <tr>

            <td colspan="5" class="text-center">
                No existen materiales registrados.
            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

<nav>

    <ul class="pagination">

        {% if materiales.has_previous %}

        <li class="page-item">
            <a class="page-link"
               href="?page={{ materiales.previous_page_number }}&buscar={{ buscar }}">
                Anterior
            </a>
        </li>

        {% endif %}

        <li class="page-item active">

            <span class="page-link">

                Página {{ materiales.number }} de {{ materiales.paginator.num_pages }}

            </span>

        </li>

        {% if materiales.has_next %}

        <li class="page-item">
            <a class="page-link"
               href="?page={{ materiales.next_page_number }}&buscar={{ buscar }}">
                Siguiente
            </a>
        </li>

        {% endif %}

    </ul>

</nav>

{% endblock %}